
<div class="grid grid-nogutter mt-7">
    <div class="col-12 ms:col-12 md:col-6 lg:col-6 xl:col-6 mt-5">
        <mat-list class="justify-content-center mt-0 mr-5">
            <mat-list-item>
                <span class="title-color headline-1"><h1 style="font-size: 38px!Important;">Alvaro Daniel Quispe</h1></span>
            </mat-list-item>
            <br>
            <mat-list-item style="height:auto" class="color-white">
                <div matListItemLine>I'm a full-stack software developer from Buenos Aires, Argentina. I have 4 years of experience working in several technology companies 🚀. Mobile developer in progress 🚧. Here I will upload my projects and technologies that I learned and will learn👨‍💻</div>
            </mat-list-item>
            <br>
            <br>
            <br>
            <mat-list-item style="height:auto" class="color-white">
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJZbhvCQvsWxWHkrCzxXptLJvHZJwvxvpBNgzmhCNRNXvlhDXmZcwXxhWKlXnLrXNLWTbBq" target="_blank"><img src="./assets/gmail.png" class="image-1" alt="Software Developer" ></a>
                <a href="https://www.linkedin.com/in/alvaro-d-quispe/" target="_blank"><img src="./assets/linkedin.png" class="image" alt="Software Developer" ></a>
                <a href="https://github.com/alvaroquispe094" target="_blank"><img src="./assets/github.png" class="image" alt="Software Developer" ></a>
            </mat-list-item>
            <br>
            <br>
            <mat-list-item style="height:auto;" class="color-white">
                <a href="assets/CV_2022.pdf" target="_blank"><button class="ml-1 color-white" mat-raised-button color="primary">Descargar CV</button></a>
                
            </mat-list-item>
            <br>
            
        </mat-list>

    </div>   
    <div class="col-12 ms:col-12 md:col-6 lg:col-6 xl:col-6 mt-5">
        <mat-list class="justify-content-center">
            <img mat-card-image src="./assets/home_banner.svg" alt="Software Developer" >
        </mat-list>
    </div>   
</div>   