<mat-list id="aboutSection">
    <mat-list-item>
        <span class="title-color headline-1"><h1>About me</h1></span>
    </mat-list-item>
    <br>
    <mat-list-item style="height:auto" class="color-white">
        <div matListItemLine>Hello! I'm Alvaro Daniel Quispe, a passionate and creative developer with a love for crafting digital solutions that make a difference. With a strong background in backend development but also knowledge and experience in frontend and mobile development, I thrive on turning complex ideas into elegant, user-friendly applications.</div>
    </mat-list-item>
    <br>
    <mat-list-item style="height:auto" class="color-white">
        <div matListItemLine>+4 year of experience working in various technology companies across different industries, such as healthcare, e-commerce, and banking.</div>
    </mat-list-item>
    <br>
    <mat-list-item style="height:auto" class="color-white">
        <div matListItemLine>I'm driven by the endless possibilities of technology and its power to transform the world. I believe that the best solutions are often the simplest ones, and I'm dedicated to finding those elegant solutions to real-world problems.</div>
    </mat-list-item>
</mat-list>