<mat-list id="experienceSection">
    <mat-list-item>
        <span class="title-color headline-1"><h1>Experience</h1></span>
    </mat-list-item>

</mat-list>

<div class="grid grid-nogutter">
    <div class="col-12  ms:col-12 md:col-6 lg:col-4 xl:col-4" *ngFor="let company of companies">
      <mat-card style="text-align:center;" class="example-card justify-content-center">
        <img class="mt-5" [src]="company.image" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <span class="title-color" matListItemTitle><h1 class="mb-1">{{company.companyName}}</h1></span>
                </mat-list-item>
                
                <mat-list-item style="height:auto" class="color-white align-start">
                    <div matListItemTitle>{{company.position}}</div>
                </mat-list-item>
                <mat-list-item style="height:auto" class="color-white mb-3 align-start">
                    <div matListItemTitle>{{company.date}}</div>
                </mat-list-item>

                <mat-list-item style="height:auto" class="color-white-2 align-start" *ngFor="let line of company.lines" >
                    <div matListItemLine>{{line}}</div>
                </mat-list-item>   

            </mat-list>
        </mat-card-content>
        <br>
      </mat-card>
    </div>
</div>   
<div id="skillSection"></div> 