<mat-list>
    <mat-list-item>
        <span class="title-color headline-1"><h1>Experience</h1></span>
    </mat-list-item>

</mat-list>

<div class="grid grid-nogutter">
    <div class="col-12  ms:col-12 md:col-6 lg:col-4 xl:col-4" container>
      <mat-card style="text-align:center;" class="example-card justify-content-center">
        <img class="mt-5" src="./assets/geco.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <span class="title-color headline-1"><h1>About me</h1></span>
                </mat-list-item>
                <br>
                <mat-list-item style="height:auto" class="color-white">
                    <div matListItemLine>Hello! I'm Alvaro Daniel Quispe</div>
                </mat-list-item>
                <br>
                <mat-list-item style="height:auto" class="color-white">
                    <div matListItemLine>+4 year of experience working </div>
                </mat-list-item>
                <br>
                <mat-list-item style="height:auto" class="color-white">
                    <div matListItemLine>I'm driven by the endless possibilities.</div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <br>
      </mat-card>
    </div>
    <div class="col-12  ms:col-12 md:col-6 lg:col-4 xl:col-4" container>
        <mat-card style="text-align:center;" class="example-card justify-content-center">
          <img class="mt-5" src="./assets/geco.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <mat-list>
                  <mat-list-item>
                      <span class="title-color headline-1"><h1>About me</h1></span>
                  </mat-list-item>
                  <br>
                  <mat-list-item style="height:auto" class="color-white">
                      <div matListItemLine>Hello! I'm Alvaro Daniel Quispe</div>
                  </mat-list-item>
                  <br>
                  <mat-list-item style="height:auto" class="color-white">
                      <div matListItemLine>+4 year of experience working </div>
                  </mat-list-item>
                  <br>
                  <mat-list-item style="height:auto" class="color-white">
                      <div matListItemLine>I'm driven by the endless possibilities.</div>
                  </mat-list-item>
              </mat-list>
          </mat-card-content>
          <br>
        </mat-card>
      </div>
      <div class="col-12  ms:col-12 md:col-6 lg:col-4 xl:col-4" container>
        <mat-card style="text-align:center;" class="example-card justify-content-center">
          <img class="mt-5" src="./assets/geco.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <mat-list>
                  <mat-list-item>
                      <span class="title-color headline-1"><h1>About me</h1></span>
                  </mat-list-item>
                  <br>
                  <mat-list-item style="height:auto" class="color-white">
                      <div matListItemLine>Hello! I'm Alvaro Daniel Quispe</div>
                  </mat-list-item>
                  <br>
                  <mat-list-item style="height:auto" class="color-white">
                      <div matListItemLine>+4 year of experience working </div>
                  </mat-list-item>
                  <br>
                  <mat-list-item style="height:auto" class="color-white">
                      <div matListItemLine>I'm driven by the endless possibilities.</div>
                  </mat-list-item>
              </mat-list>
          </mat-card-content>
          <br>
        </mat-card>
      </div>
      <div class="col-12  ms:col-12 md:col-6 lg:col-4 xl:col-4" container>
        <mat-card style="text-align:center;" class="example-card justify-content-center">
          <img class="mt-5" src="./assets/geco.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <mat-list>
                  <mat-list-item>
                      <span class="title-color headline-1"><h1>About me</h1></span>
                  </mat-list-item>
                  <br>
                  <mat-list-item style="height:auto" class="color-white">
                      <div matListItemLine>Hello! I'm Alvaro Daniel Quispe</div>
                  </mat-list-item>
                  <br>
                  <mat-list-item style="height:auto" class="color-white">
                      <div matListItemLine>+4 year of experience working </div>
                  </mat-list-item>
                  <br>
                  <mat-list-item style="height:auto" class="color-white">
                      <div matListItemLine>I'm driven by the endless possibilities.</div>
                  </mat-list-item>
              </mat-list>
          </mat-card-content>
          <br>
        </mat-card>
      </div>
</div>    